@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap');

*{
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
	font-family: 'Poppins' , sans-serif;
	color: white;
}

body{
	background: url(image/wallpaper.jpg);
        background-size: cover;
        background-position: center;
	
}

.header{
  height: 100vh;
  width: 100%;
}

.navbar
{       
        position: fixed;
        top: 0;
        width: 100%;
        background: transparent;
        text-align: center;
	padding: 15px 18px !important; 
        z-index: 1000;
}

.logo{
	font-weight: 600;
	color: rgb(12 14 65) !important;
}

.nav-item
{
	margin: 0px 10px;

}
.nav-item .nav-link
{
	color: rgb(0 78 131);
	font-size: 14px;
	font-weight: 500;
	position: relative;
}

.nav-link::after{
	content: '';
	position:absolute;
	bottom: -1px;
	left:0px;
	background-color: rgb(43 16 65);
	width: 0%;
	height: 3px;
	transition: 0.4s ease-in-out;
}
.nav-item:hover .nav-link::after{
	width: 100%;
}
.nav-item .nav-link
{
	color: rgb(0 78 131);
	font-size: 14px;
	font-weight: 500;
	position: relative;
}

.navbar-nav {
    margin-left: auto; 
}


.education{
    height: auto;
    padding: 40px 0px;
    margin-top: 30px;
}

.education-headings{
    text-align: center;
}

.img_icon_education
{
    width:40px;
    margin: 30px 0px;
}

.heading_title-education{
    font-size: 12px;
    color:rgb(7 3 46);
    font-weight: 800;
    text-transform: uppercase;
}

.heading-education
{
    font-size: 42px;
    font-weight: 800;
    color: #0b183f;
    margin-top: 19px;
    margin-bottom: 30px;
	
}

.content-education
{
    padding: 60px 20px;
    padding-left: 100px;
	margin-top: -80px;
}

.about_1{
    background-color: rgba(18,26,52,0.762);
    padding: 19px 36px;
    border-radius: 8px;
    margin-bottom: 9px;
}

.about_data{
    color: white;
    font-size: 14px;
    font-weight: 600;
    margin:0px;
}

.about_2{
	 background-color: rgb(42 61 124 / 76%);
     padding: 19px 36px;
	 border-radius: 8px;
     margin-bottom: 9px;
}

.image-container-about
{
    padding: 60px 0px;
    height: 100%;
	margin-top: -50px;
}

.image-box-about
{
    width: 80%;
    height: 100%;
    background-image: linear-gradient(rgb(47 47 216 / 48%), rgb(202 201 255 / 34%));
    background-position: center;
    background-size: cover;
    border-radius:18px; 
}
