@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.header {
    height: 100vh;
    width: 100%;
}

.navbar {
    padding: 15px 18px !important;
    width: 100%;
}

.logo {
    font-weight: 600;
    color: rgb(12, 14, 65) !important;
}

.nav-item {
    margin: 0px 10px;
}

.nav-item .nav-link {
    color: rgb(0, 78, 131);
    font-size: 14px;
    font-weight: 500;
    position: relative;
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0px;
    background-color: rgb(43, 16, 65);
    width: 0%;
    height: 3px;
    transition: 0.4s ease-in-out;
}

.nav-item:hover .nav-link::after {
    width: 100%;
}

/* home section */
.content-home2 {
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-heading {
    color: #284766;
    font-size: 100px;
    font-weight: 700;
    line-height: 80px;
}

.img-home {
    margin-right: 20px;
    width: 450px;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
	background: #a1c4dc;
    background-size: cover;
    background-position: center;
}

.gallery-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10vmin;
    overflow: hidden;
    transform: skew(5deg);
}

.gallery-container .card {
    flex: 1;
    transition: all 1s ease-in-out;
    height: 75vmin;
    position: relative;
}

.gallery-container .card .card__head {
    color: black;
    background: rgba(255, 30, 173, 0.75);
    padding: 0.5em;
    transform: rotate(-90deg);
    transform-origin: 0% 0%;
    transition: all 0.5s ease-in-out;
    min-width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 1em;
    white-space: nowrap;
}

.gallery-container .card:hover {
    flex-grow: 10;
}

.gallery-container .card:hover img {
    filter: grayscale(0);
}

.gallery-container .card:hover .card__head {
    text-align: center;
    top: calc(100% - 2em);
    color: white;
    background: rgba(0, 0, 0, 0.5);
    font-size: 2em;
    transform: rotate(0deg) skew(-5deg);
}

.gallery-container .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 1s ease-in-out;
    filter: grayscale(100%);
}

.gallery-container .card:not(:last-child) {
    margin-right: 1em;
}






